
{% extends "admin/base.html" %}
{% block title %} admin {{ detail.title }} {% endblock %}

{% block content %}

<h1 class="lead my-3">admin detail item</h1>

<div class="card mb-3">

<ul class="card-header list-group list-group-horizontal">
    <li class="list-group-item">
        <sup class="float-start">id:</sup>
        {{ detail.id }}
    </li>
    <li class="list-group-item">
        <sup class="float-start">owner item:</sup>
        {{ detail.item_owner }}
    </li>
    <li class="list-group-item">
        <sup class="float-start">created:</sup>
        <time>{{ detail.created_at }}</time>
    </li>
    <li class="list-group-item">
        <sup class="float-start">modified</sup>
        <time>{{ detail.modified_at }}</time>
    </li>
</ul>

<ul class="card-body list-group list-group-flush">
    <li class="list-group-item">
        <sup class="float-start">title:</sup>
        {{ detail.title }}
    </li>
    <li class="list-group-item">
        <sup class="float-start">description:</sup>
        {{ detail.description | safe }}
    </li>
</ul>

<ul class="card-footer list-group list-group-horizontal">

    <li class="list-group-item">
        <sup class="float-start">service:</sup>
        {% for i in all_service %}
        <a href="/admin/service/details/{{ i.id }}">
            <sub>{{ i.title }},</sub>
        </a>
        {% endfor %}
    </li>
    <li class="list-group-item">
        <sup class="float-start">rent:</sup>
        {% for i in all_rent %}
        <a href="/admin/rent/details/{{ i.id }}">
            <sub>{{ i.title }},</sub>
        </a>
        {% endfor %}
    </li>

</ul>

</div>

{% if detail.file %}
<figure class="col-xxl-5 col-sm-10 ms-3">
    <img class="w-100 shadow-sm mb-5" src="{{ detail.file }}">
</figure>
{% endif %}

<div class="card my-2">
    <div class="card-header">
        <a class="btn btn-outline-primary btn-sm me-2" href="/admin/item/update/{{ detail.id }}" role="button">
            <i class="bi bi-pencil"></i> &raquo;
        </a>
        <a class="btn btn-outline-danger btn-sm" href="/admin/item/delete/{{ detail.id }}" role="button">
            <i class="bi bi-trash3"></i> &raquo;
        </a>
    </div>
    <div class="card-footer mt-2">
    <a class="btn btn-outline-primary btn-sm" href="/admin/comment/item/create/{{ detail.id }}">create comment</a>
    </div>
</div>


{% include "admin/comment/cmt_item.html" %}


<div class="my-5">{{ detail.file }}</div>

{% endblock %}