
{% extends "admin/base.html" %}
{% block title %} adm item {{ i.title }} {% endblock %}

{% block content %}

<div class="row card mt-2">
    <div class="card-header">
    <h1 class="lead">admin detail item</h1>
    </div>

    <div class="row">
    <div class="col-md-5 card">
    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            {{ i.id }}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner item:</sup>
            {{ i.owner }}
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item pt-3">
            <sup class="float-start">title:</sup>
            {{ i.title }}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">description:</sup>
            {{ i.description | safe }}
        </li>
        {% include "created_modified.html" %}
    </ul>

    <ul class="card-footer list-group list-group-flush">
        <li class="list-group-item pt-3">
            <sup class="float-start">service:</sup>
            {% for i in all_service %}
            <a href="/admin/service/details/{{ i.id }}">
                <sub>{{ i.title }}, </sub>
            </a>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">rent:</sup>
            {% for i in all_rent %}
            <a href="/admin/rent/details/{{ i.id }}">
                <sub>{{ i.title }}, </sub>
            </a>
            {% endfor %}
        </li>

    </ul>

    </div>

    {% if i.file %}
    <figure class="col-md-7 card">
    <img class="shadow-sm my-3" src="{{ i.file }}" alt="">
    <figcaption class="card-footer"></figcaption>
    </figure>
    {% endif %}
    </div>
</div>

<div class="card">
<div class="card-header">

    <a class="btn btn-outline-primary btn-sm me-2" href="/admin/item/update/{{ i.id }}" role="button">
        <i class="bi bi-pencil"></i> &raquo;
    </a>
    <a class="btn btn-outline-danger btn-sm" href="/admin/item/delete/{{ i.id }}" role="button">
        <i class="bi bi-trash3"></i> &raquo;
    </a>
</div>
</div>

<div class="card">
<div class="card-header">
    <a class="btn btn-outline-primary btn-sm" href="/admin/comment/item/create/{{ i.id }}">create comment</a>
</div>
</div>

<div class="card">
{% include "admin/comment/cmt_item.html" %}
</div>

<div class="my-5">{{ i.file }}</div>

{% endblock %}