
{% extends "admin/base.html" %}
{% block title %} admin item {% endblock %}

{% block content %}

<h1 class="lead my-3">list item..</h1>

<div class="card">
    <p class="card-header">item count {{ odj_count | max }}</p>
</div>

<div class="flex_cont">
    {% if odj_list %}
    {% for obj in odj_list %}
    <div class="card m-1">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item">
            <sup class="float-start">id:</sup>
            {{ obj.id }}
        </li>
        <li class="list-group-item">
            <sup class="float-start">owner:</sup>
            {{ obj.item_owner }}
        </li>
    </ul>
    
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">title:</sup>
                {{ obj.title }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                {{ obj.description | striptags() | truncate(190, True, '...', 5) | safe }}
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <time>{{ obj.created_at }}</time>
            </li>
        </ul>

    </div>

    <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/admin/item/details/{{ obj.id }}" role="button">View details &raquo;</a>
    </div>
    </div>
    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>
    {% endif %}


</div>

{% endblock %}