
{% extends "admin/base.html" %}
{% block title %} admin list user {% endblock %}

{% block content %}

<h1 class="lead my-3">admin list user..</h1>

<div class="card">
    <p class="card-header">user count {{ odj_count | max }}</p>
</div>

<div class="flex_cont">
    {% if odj_list %}
    {% for obj in odj_list %}
    <div class="card m-1">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                <span class="me-3">{{ obj.id }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">name:</sup>
                <span>{{ obj.name }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">email:</sup>
                <span>{{ obj.email }}</span>
            </li>
        </ul>

        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <sup class="float-start">email verified:</sup>
                    <span>{{ obj.email_verified }}</span>
                </li>
                <li class="list-group-item">
                    <sup class="float-start">active:</sup>
                    <span>{{ obj.is_active }}</span>
                </li>
                <li class="list-group-item">
                    <sup class="float-start">admin:</sup>
                    <span>{{ obj.is_admin }}</span>
                </li>
                <li class="list-group-item">
                    <sup class="float-start">last_login_date:</sup>
                    <span>{{ obj.last_login_date }}</span>
                </li>
                <li class="list-group-item">
                    <sup class="float-start">created:</sup>
                    <time>{{ obj.created_at }}</time>
                </li>
            </ul>
        </div>

        <p class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/admin/user/details/{{ obj.id }}" role="button">View details &raquo;</a>
        </p>

    </div>
    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>

    {% endif %}
</div>
{% endblock %}