{% extends "admin/base.html" %}
{% block title %} admin update password {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="lead">admin user password</h3>
    </div>

    <form method="POST">
    <div class="card-body">
        <div class="mb-3">
            <sup>password</sup>
            <input
                type="password"
                class="form-control"
                name="password"
            />
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>

    </form>

</div>

{% endblock %} 

{% block script %}
{% endblock %}
