starlette[full]
uvicorn
sqlalchemy[asyncio]
aiosqlite
pydantic
aiofiles
passlib
psycopg2-binary
python-decouple
PyJWT
python-magic-bin
Pillow
gunicorn
asyncpg
whitenoise
json2html
aiocsv
pydantic
websockets