
{% extends "base.html" %}
{% block title %} service {{ i.title }} {% endblock %}

{% block calendar_css %}
<link href="{{ url_for('static', path='/evo-calendar/css/evo-calendar.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 class="lead my-3">service detail..</h1>

<div class="row">

    <div class="col-md-5 card">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            <span>{{ i.id }}...</span>
            <input type="hidden" id="detail" name="id" value="{{ i.id }}">
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner:</sup>
            <span>{{ i.owner }}</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">service_belongs:</sup>
            <span>{{ i.service_belongs }}</span>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup>title:</sup>
            <p>{{ i.title }}</p>
        </li>
        <li class="list-group-item">
            <sup>description:</sup>
            <p>{{ i.description | safe }}</p>
        </li>
        {% include "created_modified.html" %}
    </ul>

    </div>


    {% if i.file %}
    <figure class="col-md-7 card">
    <img class="shadow-sm my-3" src="{{ i.file }}" alt="">
    <figcaption class="card-footer"></figcaption>
    </figure>
    {% endif %}
</div>


<div class="card my-2">
    <h2 class="container lead">schedule</h2>
    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">sch_json:</sup>
            {{ sch_json | safe }}
        </li>
    </ul>
</div>

<div id="calendar" class="card mt-2"></div>

{% if request.user.is_authenticated %}
    <div class="card mt-2">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/item/service/update/{{ i.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/item/service/delete/{{ i.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
            <a class="btn btn-outline-primary btn-sm float-end" href="/comment/service/create/{{ i.id }}">create comment</a>
        </div>
    </div>
{% endif %}

{% include "comment/cmt_service.html" %}

{% endblock %}


{% block calendar_js %}

<script>
    const detail = {{ i.id }};
</script>

<script src="/static/evo-calendar/js/evo-calendar.js"></script>
<script>

const listjson = JSON.stringify({{ sch_json | safe }});
const objlist = JSON.parse(listjson);
console.log(objlist)

$(document).ready(() => {
    $('#calendar').evoCalendar({
        sidebarToggler: true,
        sidebarDisplayDefault: true,
        eventListToggler: true,
        eventDisplayDefault: true,
        calendarEvents: objlist

    });
});
</script>

{% endblock %}