
{% extends "base.html" %}
{% block title %} schedule delete_user_csv {% endblock %}

{% block content %}

    <h1 class="lead mt-3">schedule delete_user_csv...</h1>

    <div class="card">
        <div class="card-header">
            <sup>schedule delete_user_csv</sup>
        </div>

        <div class="card-body border-bottom py-3">
            <form method="POST">
                <button class="btn btn-outline-danger btn-sm" type="submit">
                    delete_user_csv
                </button>
            </form>
        </div>
    </div>

{% endblock %}
