
{% extends "base.html" %}
{% block title %} list schedule {% endblock %}

{% block content %}

<h1 class="lead my-3">list service schedule..</h1>
<div class="card">
    <div class="card-header">
    <h2 class="lead m-2">
        <sup>
            ScheduleService: for Service.id from your account
        </sup>
    </h2>
    </div>
</div>

<div class="flex_start">
    {% if obj_list %}
    {% for i in obj_list %}
    <div class="card mt-2 me-1">
        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">id:</sup>
                <span>{{ i.id }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">owner:</sup>
                <span>{{ i.owner }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">sch_s_service_id:</sup>
                <span>{{ i.sch_s_service_id }}</span>
            </li>
        </ul>
        
        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">name:</sup>
                <span>{{ i.name }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">title:</sup>
                <p>{{ i.title }}</p>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">description:</sup>
                <p>{{ i.description | striptags() | truncate(190, True, '...', 5) | safe }}</p>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">type_on:</sup>
                {% if i.type_on %}
                <span>{{ i.type_on.name }}</span>
                {% endif %}
            </li>
            
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">number on the schedule:</sup>
               <span> {{ i.number_on }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">there_is:</sup>
                <span>{{ i.there_is }}</span>
            </li>
            {% include "created_modified.html" %}
        </ul>

        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/item/scheduleservice/details/{{ i.id }}" role="button">
            view details &raquo;
        </a>
        </div>

    </div>
    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>
    {% endif %}
</div>

{% endblock %}