
{% extends "admin/base.html" %}
{% block title %} adm service list sch service {% endblock %}

{% block content %}

<h1 class="lead my-3">admin service list schedule service..</h1>

<div class="flex_start">
    {% if obj_list %}
    {% for i in obj_list %}
    <div class="card mt-2 me-1">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">id:</sup>
                <span class="me-3">{{ i.id }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">owner:</sup>
                <span class="me-3">{{ i.owner }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">sch_s_service_id:</sup>
                <span class="me-3">{{ i.sch_s_service_id }}</span>
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">name:</sup>
                <span>{{ i.name }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">title:</sup>
                <span>{{ i.title }}</span>
            </li>
            
            <li class="list-group-item pt-3">
                <sup class="float-start">type_on:</sup>
                {% if i.type_on %}
                <span class="me-3">{{ i.type_on.name }}</span>
                {% endif %}
            </li>

            <li class="list-group-item pt-3">
                <sup class="float-start">number_on:</sup>
                <span class="me-3">{{ i.number_on }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">there_is:</sup>
                <span class="me-3">{{ i.there_is }}</span>
            </li>
            {% include "created_modified.html" %}
        </ul>

        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/admin/schedule-service/details/{{ i.id }}" role="button">view details &raquo;</a>
        </div>

    </div>

    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>

    {% endif %}

    </div>

{% endblock %}