
{% extends "admin/base.html" %}
{% block title %} admin list schedule service {% endblock %}

{% block content %}

    <h1 class="lead my-4">admin list schedule service user..</h1>

    <div class="row">
    {% if odj_list %}
    {% for obj in odj_list %}
    <div class="card p-3 mb-5">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                <span class="me-3">{{ obj.id }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">name:</sup>
                <span>{{ obj.name }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">email:</sup>
                <span class="me-3">{{ obj.email }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">name:</sup>
                <span>{{ obj.name }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">created_at:</sup>
                <time>{{ obj.created_at }}</time>
            </li>
        </ul>

        <p class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/admin/schedule-service/list/{{ obj.id }}" role="button">view details &raquo;</a>
        </p>

    </div>

    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>

    {% endif %}

    </div>

{% endblock %}