
{% extends "base.html" %}
{% block title %} rent schedule {{ i.title }} {% endblock %}

{% block content %}
<h1 class="lead my-3">rent schedule detail</h1>

<div class="card p-3">
    
    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            <span class="me-3">{{ i.id }}</span>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner:</sup>
            <span>{{ i.owner }}</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">rent id:</sup>
            <span>{{ i.sch_r_rent_id }}</span>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">title</sup>
            <p class="mt-2">{{ i.title }}</p>
        </li>
        <li class="list-group-item">
            <sup class="float-start">description</sup>
            <p class="mt-2">{{ i.description }}</p>
        </li>
        {% include "created_modified.html" %}
    </ul>

    <div class="card-footer mt-3">
        {{ sch_json | safe }}
    </div>
</div>


{% if request.user.is_authenticated %}
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/item/schedule-rent/update/{{ i.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/item/schedule-rent/delete/{{ i.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
        </div>
    </div>
{% endif %}

{% endblock %}


