
{% extends "base.html" %}
{% block title %} list schedule rent {% endblock %}

{% block content %}

<h1 class="lead my-3">list rent schedule.. {{ request.user.user_id }}</h1>

<div class="flex_start">
    {% if obj_list %}
    {% for i in obj_list %}
    <div class="card mt-2 me-1">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">id:</sup>
                <span>{{ i.id }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">owner:</sup>
                <span>{{ i.sch_r_owner }}</span>
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item pt-3">
                <sup class="float-start">start & end:</sup>
                <span>
                    {{ i.start }} | {{ i.end }}
                </span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">title:</sup>
                 <span>{{ i.title }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">description:</sup>
                 <span>{{ i.description | striptags() | truncate(190, True, '...', 5) | safe }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">created:</sup>
                <time>{{ i.created_at }}</time>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">modified</sup>
                <time>{{ i.modified_at }}</time>
            </li>
        </ul>

        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/item/schedule-rent/details/{{ i.id }}" role="button">
            view details &raquo;
        </a>
        </div>

    </div>
    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>
    {% endif %}
</div>

{% endblock %}