
{% extends "base.html" %}
{% block title %} list id service schedule{% endblock %}

{% block content %}

    <h1 class="lead my-4">list id service schedule..</h1>

<div class="flex_start">
    {% for obj in odj_list %}
    <div class="card m-1">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                <span class="me-3">
                    {{ obj.id }}
                </span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">service_owner:</sup>
                {{ obj.service_owner }}
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">service_belongs:</sup>
                <span>{{ obj.service_belongs }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">title:</sup>
                <p>{{ obj.title }}</p>
            </li>
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                <p>
                    {{ obj.description | striptags() | truncate(190, True, '...', 5) | safe }}
                </p>
            </li>
        </ul>

        <div class="card-footer">
            <a class="btn btn-outline-primary btn-sm" href="/item/schedule-service/list/{{ obj.id }}" role="button">
                view service schedule &raquo;
            </a>
        </div>
        <div class="card-footer">
        <a class="btn btn-primary btn-sm me-2" href="/item/dump_{{ obj.id }}" role="button">
            export csv &raquo;
        </a>
        <a class="btn btn-primary btn-sm me-2" href="/item/dump-csv/{{ obj.id }}" role="button">
            my dump csv &raquo;
        </a>
        </div>

        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/item/import-csv/{{ obj.id }}" role="button">
            import csv &raquo;
        </a>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}