
{% extends "admin/base.html" %}
{% block title %} admin rent {{ i.title }} {% endblock %}

{% block calendar_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
{% endblock %}

{% block content %}

<h1 class="lead my-2">admin detail rent...</h1>

<div class="row">
    <div class="col-md-5 card">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            <span>{{ i.id }}...</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner:</sup>
            <span>{{ i.rent_owner }}</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">rent belongs:</sup>
            <span class="me-3">
                {{ i.rent_belongs }}
            </span>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">title:</sup>
            {{ i.title }}
        </li>
        <li class="list-group-item">
            <sup class="float-start">description:</sup>
            {{ i.description | safe }}
        </li>
    </ul>

    <ul class="card-footer list-group list-group-flush">
        {% include "created_modified.html" %}
    </ul>

    </div>

    {% if i.file %}
    <figure class="col-md-7 card">
        <img class="w-100 shadow-sm mb-5" src="{{ i.file }}">
        <figcaption class="card-footer"></figcaption>
    </figure>
    {% endif %}
</div>

<h2 class="container lead my-2">schedule</h2>
<ul class="card-body list-group list-group-flush">
    <li class="list-group-item pt-3">
        <sup class="float-start">sch_json:</sup>
        {{ sch_json }}
    </li>
</ul>


{% if obj_list %}
    {% for sch in obj_list %}

    <div class="card">
        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup>id</sup>
                <p>{{ sch.id }}</p>
            </li>
            <li class="list-group-item pt-3">
                <sup>title</sup>
                <p>{{ sch.title }}</p>
            </li>
            <li class="list-group-item pt-3">
                <sup>description</sup>
                <p>{{ sch.description }}</p>
            </li>
        </ul>

        <div class="card-body">
            <div id="{{ sch.title }}"></div>
        </div>
    </div>

    {% include "rent/calendar_js.html" %}

    {% endfor %}

        {% else %}
        <div class="mt-5"><p>no information available</p></div>
{% endif %}


<div class="card mt-2">
    <div class="card-header">
        <a class="btn btn-outline-primary btn-sm me-2" href="/admin/rent/update/{{ i.id }}" role="button">
            <i class="bi bi-pencil"></i> &raquo;
        </a>
        <a class="btn btn-outline-danger btn-sm" href="/admin/rent/delete/{{ i.id }}" role="button">
            <i class="bi bi-trash3"></i> &raquo;
        </a>
    </div>
    <div class="card-footer">
    <a class="btn btn-outline-primary btn-sm" href="/admin/comment/rent/create/{{ i.id }}">create comment</a>
    </div>
</div>

{% include "admin/comment/cmt_rent.html" %}

{% endblock %}


