
{% extends "admin/base.html" %}
{% block title %} admin update rent {{ i.title }} {% endblock%}

{% block content %}

<div class="card mt-2">
    <div class="card-header">
        <h3 class="lead">admin rent update</h3>
    </div>

    <form method="POST" enctype="multipart/form-data">

    <div class="card-body">
        
    <div class="mb-3">
    <sup>title</sup>
        <input
            type="text"
            name="title"
            value="{{ i.title }}"
            class="form-control"
        />
    </div>

    <div class="mb-3">
    <textarea class="form-control" name="description" maxlength="333" spellcheck>{{ i.description }}</textarea>
    </div>

    </div>

    <div class="card-footer">
    <div class="mb-3">
        <input
            type="file"
            name="file"
            class="form-control"
        />
    </div>
    </div>

    {% if i.file %}
    <div class="card-footer">
    <figure class="list-group-item-danger d-inline-block p-3">
        <figcaption><sup>image</sup></figcaption>

        <img width="128" src="{{ i.file }}" />
        <input
            type="checkbox"
            name="del_bool"
            class="ms-2 form-check-input"
        />
        <sup class="m-2">delete</sup>
    </figure>
    </div>
    {% endif %}

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>
    </div>
    </form>
</div>

{% endblock %}


{% block script %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.js"></script>

<script>
    const editor = Jodit.make('textarea');
</script>

{% endblock %}

