
{% extends "base.html" %}
{% block title %} import_csv {% endblock %}

{% block content %}

    <h1 class="lead my-4">import_csv..</h1>
    <form class="card p-4" method="POST" enctype="multipart/form-data">
        <div class="card-body m-2">
            <input type="file" name="filename" accept=".csv" class="btn btn-outline-primary btn-sm">
        </div>
        <div class="card-footer m-2">
            <button type="submit" class="btn btn-outline-primary btn-sm">
                submit
            </button>
        </div>
    </form>

{% endblock %}
