
{% extends "admin/base.html" %}
{% block title %} admin new item {% endblock %}

{% block content %}

<h1 class="lead my-3">admin new item</h1>

<form class="card" method="POST" enctype="multipart/form-data">

    <div class="card-header mb-3">
        <select
            name="item_owner"
            class="form-control shadow">
            <option value="">user select</option>

            {% for obj in owner_all %}
                <option value="{{ obj.id }}">
                    {{ obj.id }}
                </option>
            {% endfor %}

        </select>
    </div>

    <div class="card-body">

        <div class="mb-3">
            <sup>title</sup>
            <input
                type="text"
                required
                name="title"
                placeholder="item title"
                class="form-control my-2"
            />
        </div>

        <div class="mb-3">
        <textarea class="form-control" name="description" maxlength="333" spellcheck></textarea>
            <div id="help" class="form-text">help text</div>
        </div>

    </div>

    <div class="card-footer mb-3">
        <input
            type="file"
            required
            name="file"
            class="form-control"
        />
    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>
    </div>
</form>

{% endblock %}


{% block script %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.js"></script>

<script>
    const editor = Jodit.make('textarea');
</script>

{% endblock %}