
{% extends "base.html" %}
{% block title %} rent {{ i.title }} {% endblock %}

{% block calendar_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
{% endblock %}

{% block content %}

    <h1 class="lead my-4">i rent...</h1>
    <div class="flex_cont">
        <div class="card p-3 mb-3">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                {{ i.id }}...
            </li>
            <li class="list-group-item">
                <sup class="float-start">owner:</sup>
                <span>{{ i.rent_owner }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">rent to item:</sup>
                <span class="me-3">
                    {{ i.rent_belongs }}
                </span>
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">title:</sup>
                {{ i.title }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                {{ i.description | safe }}
            </li>
        </ul>

        <ul class="card-footer">
            <li class="list-group-item">
                <sup class="float-start">created:</sup>
                <time>{{ i.created_at }}</time>
            </li>
        </ul>
        </div>

        {% if i.file %}
        <figure>
            <img class="w-100 shadow-sm mb-5" src="{{ i.file }}">
        </figure>
        {% endif %}

        <h2 class="container lead">schedule</h2>
        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">sch_json:</sup>
                {{ sch_json }}
            </li>
        </ul>

    </div>


{% if obj_list %}
    {% for sch in obj_list %}

    <div class="card mt-3">
        <div class="card-header">
            <div class="d-flex p-3">
                <div>
                <sup class="float-start">id</sup>
                    {{ sch.id }}
                </div>
                <div>
                <sup class="float-start">title</sup>
                    <p>{{ sch.title }}</p>
                </div>
                <div>
                <sup class="float-start">description</sup>
                    <p>{{ sch.description }}</p>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div id="{{ sch.title }}"></div>
        </div>
    </div>

    {% include "rent/calendar_js.html" %}

    {% endfor %}

        {% else %}
        <div class="mt-5"><p>no information available</p></div>
{% endif %}


{% if request.user.is_authenticated %}
<div class="card mt-2">
    <div class="card-header">
        <a class="btn btn-outline-primary btn-sm me-2" href="/item/rent/update/{{ i.id }}" role="button">
            <i class="bi bi-pencil"></i> &raquo;
        </a>
        <a class="btn btn-outline-danger btn-sm" href="/item/rent/delete/{{ i.id }}" role="button">
            <i class="bi bi-trash3"></i> &raquo;
        </a>
        <a class="btn btn-outline-primary btn-sm float-end" href="/comment/rent/create/{{ i.id }}">create comment</a>
    </div>
</div>
{% endif %}

{% include "comment/cmt_rent.html" %}

{% endblock %}


