
{% extends "base.html" %}
{% block title %} update rent {{ i.title }} {% endblock%}

{% block content %}

    <h1 class="lead my-3">update rent</h1>

    <form class="card p-3" method="POST" enctype="multipart/form-data">
        <div class="m-2">
            <sup class="float-startl">title</sup>
            <input
                type="text"
                name="title"
                value="{{ i.title }}"
                class="form-control my-2"
            />
        </div>

        <div class="m-2">
        <textarea class="form-control my-2" name="description" maxlength="333" spellcheck>{{ i.description }}</textarea>
        </div>
        
        <div class="mb-3">
            <input
                type="file"
                name="file"
                class="form-control"
            />
        </div>

        {% if i.file %}
        <figure class="list-group-item list-group-item-danger d-inline-block p-3">
            <figcaption><sup>image</sup></figcaption>

            <img width="128" src="{{ i.file }}" />
            <input
                type="checkbox"
                name="del_bool"
                class="ms-2 form-check-input"
            />
            <sup class="m-2">delete</sup>
        </figure>
        {% endif %}

        <div class="m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
        </div>
    </form>

    </div>

{% endblock %}


{% block script %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.js"></script>

<script>
    const editor = Jodit.make('textarea');
</script>

{% endblock %}

