

.gallery_slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.gallery_slider{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow-x: hidden;
    background-color: #F2F2F0;
}
#slider-1{
    width: 90%;
    height: auto;
    min-width: 1200px;
}
#slider-2{
    width: 33%;
    height: 100%;
    min-width: 600px;
    top: 3em;
    right: 0;
    position: absolute;
}
.slides{
    margin: 0;
    padding: 0;
    list-style: none;
}
#slider-1 .gallery-cell img{
    width: 90%;
    height: auto;
    display: block;
}
#slider-2 .gallery-cell.is-selected img{
    width: 100%;
    height: auto;
    display: block;
}
.gallery-cell.is-selected .txt_photo{
    visibility: visible;
}

.txt_photo{
    width: 66%;
    max-height: 27.5%;
    bottom: 0;
    right: -21%;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

.txt_photo,
.gallery-cell .txt_photo::before{
    transform: translate3d(100%,0,0);
}
.gallery-cell.is-selected .txt_photo,
.gallery-cell.is-selected .txt_photo::before{
    transition: transform .8s linear .8s;
    transform: translate3d(0,0,0);
}

.gallery-cell .txt_photo::before{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: #A3A692;
}

.lighter{
    padding: .6em;
    color: #F2F2F0;
    position: relative;
}
.lighter{
    padding: .6em;
    color: #F2F2F0;
    position: relative;
}

figure{
    margin: 0;
}


/*! Flickity v1.0.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled{
    width: 80%;
    position: relative;
}
.flickity-enabled:focus{
    outline: none;
}
.flickity-viewport{
    height: 100%;
    position: relative;
}
.flickity-slider{
    width: 100%;
    height: 100%;
    position: absolute;
}
/* draggable */
.flickity-enabled.is-draggable{
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport{
    cursor: move;
    cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{
    cursor: grabbing;
}
.gallery-cell{
    width: 100%;
}


#slider-1 .gallery-cell .photo img{
	visibility: hidden;
	-webkit-filter: brightness(3) contrast(1) grayscale(1);
			filter: brightness(3) contrast(1) grayscale(1);
}
#slider-1 .gallery-cell.is-selected .photo img{
	visibility: visible;
	transition: filter 3.2s ease-in-out;
	-webkit-filter: brightness(1.3) contrast(1.2) grayscale(1);
			filter: brightness(1.3) contrast(1.2) grayscale(1);
}

#slider-2 .gallery-cell .photo img{
	visibility: hidden;
}
#slider-2 .gallery-cell.is-selected .photo img{
	visibility: visible;
	animation: coming .4s ease-in-out;
}
@keyframes coming{
	50%{
		transform: scale(1.1);
	}
}


.btn-next{
    width: 60px;
    height: 2em;
    bottom: calc(50% - 1em);
    right: 1em;
    padding: 0;
    cursor: pointer;
    position: absolute;
    border: none;
    background: none;
}
.btn-next:focus{
    outline: none;
}
.btn-next svg{
    width: 60px;
    height: 20px;
    display: block;
}
.btn-next svg #arrow-line{
    transition: all .3s ease-out;
    transform-origin: right bottom;
}
.btn-next:hover svg #arrow-line{
    transform: scaleX(1.5);
}
