
{% extends "base.html" %}
{% block title %} update rent {{ detail.title }} {% endblock%}

{% block content %}

    <h1 class="lead my-5">update rent</h1>

    <form class="card p-3" method="POST" enctype="multipart/form-data">
        <div class="m-2">
            <sup class="float-startl">title</sup>
            <input
                type="text"
                required
                name="title"
                value="{{ detail.title }}"
                class="form-control my-2"
            />
        </div>

        <div class="m-2">
        <textarea class="form-control my-2" name="description" maxlength="333" spellcheck>{{ detail.description }}</textarea>
        </div>
        <div class="mb-3">
            <input
                type="file"
                required
                name="file"
                value="{{ detail.file }}"
                class="form-control"
            />
        </div>
        <div class="m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
        </div>
    </form>

    </div>

{% endblock %}


{% block script %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.17.1/jodit.min.js"></script>

<script>
    const editor = Jodit.make('textarea');
</script>

{% endblock %}

