
{% extends "base.html" %}
{% block title %} detail {{ detail.title }} {% endblock %}

{% block content %}

    <h1 class="lead my-3">detail file service</h1>
    <div class="flex_cont">
        <div class="card p-3">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                {{ detail.id }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">owner item:</sup>
                {{ detail.item_owner }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">created:</sup>
                <time>{{ detail.created_at }}</time>
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">original_filename:</sup>
                <p>{{ detail.file.original_filename }}</p>
            </li>
            <li class="list-group-item">
                <sup class="float-start">saved_filename:</sup>
                <p>{{ detail.file.saved_filename }}</p>
            </li>
        </ul>

        <div>
        {% if detail.file %}
        <img class="w-100 shadow-sm mb-5" src="/static/upload/{{ detail.file.path }}" alt="img">
        {% endif %}
        </div>

        </div>

    </div>

    <form class="card mt-2"  method="POST" enctype="multipart/form-data">
        <div class="m-2">
            <input
                type="file"
                name="file"
                class="form-control"
            />
        </div>

        <div class="m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
        </div>
    </form>

    <div class="m-2">
        <a class="btn btn-outline-danger btn-sm" href="/item/service/file-delete/{{ detail.id }}" role="button">
            <i class="bi bi-trash3"></i> &raquo;
        </a>
    </div>

    <div class="my-5">{{ detail.file }}</div>

{% endblock %}