
{% extends "base.html" %}
{% block title %} choice {{ rrf.id }}  {% endblock %}

{% block content %}

    <h1 class="lead my-4">choice item...</h1>

    <div class="card">
    <ul class="card-footer list-group list-group-horizontal">
        <li class="list-group-item">
            <sup class="float-start">id</sup>
            <span>
                {{ rrf.id }}
            </span>
        </li>
        <li class="list-group-item">
            <sup class="float-start">start</sup>
            <time>
                {{ rrf.time_start.strftime("%d-%m-%Y %H:%M") }}
            </time>
        </li>
        <li class="list-group-item">
            <sup class="float-start">end</sup>
            <time>
                {{ rrf.time_end.strftime("%d-%m-%Y %H:%M") }}
            </time>
        </li>
        <li class="list-group-item">
            <sup class="float-start">reserve period:</sup>
            {{ reserve_period }}
        </li>
    </ul>
    </div>


    <div class="flex_cont">
    {% for item in obj_item %}

    <div class="col-xxl-5 col-sm-10 card p-3 me-2 my-3">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item">
            <sup class="float-start">id:</sup>
            <span>{{ item.id }}</span>
        </li>
        <li class="list-group-item">
            <sup class="float-start">owner item:</sup>
            <span>{{ item.item_owner }}</span>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">title:</sup>
            <p>{{ item.title }}</p>
        </li>
        <li class="list-group-item">
            <p>{{ item.description | striptags() | truncate(190, True, '...', 5) | safe }}</p>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup>created</sup>
            <time>{{ item.created_at }}</time>
        </li>
    </ul>

    <div class="card-footer">
        <a class="page-link" href="/item/details/{{ item.id }}">
            details
        </a>
    </div>

    <form class="card-footer row mt-3" method="POST">
    <input type="text" name="rsv_item" class="visually-hidden" value="{{ item.id }}">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
    </form>
    </div>

        {% else %}
        <span class="mt-5">there are no items with periods</span>
    {% endfor %}
    </div>

    <div class="flex_cont">
    {% for item in not_item %}
    <div class="col-xxl-5 col-sm-10 card p-3 me-2 my-3">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item">
            <span class="badge bg-success">not reserve</span>
        </li>
        <li class="list-group-item">
            <sup class="float-start">id:</sup>
            {{ item.id }}
        </li>
        <li class="list-group-item">
            <sup class="float-start">owner item:</sup>
            {{ item.item_owner }}
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">title:</sup>
            {{ item.title }}
        </li>
        <li class="list-group-item">
            {{ item.description | striptags() | truncate(190, True, '...', 5) | safe }}
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup>created</sup>
            <time>{{ item.created_at }}</time>
        </li>
    </ul>

    <div class="card-footer">
        <a class="page-link" href="/item/details/{{ item.id }}">
            details
        </a>
    </div>

    <form class="card-footer row mt-3" method="POST">
    <input type="text" name="rsv_item" class="visually-hidden" value="{{ item.id }}">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
    </form>
    </div>

        {% else %}
        <span class="mt-5">no we go without periods</span>
    {% endfor %}

    </div>

{% endblock %}