
{% extends "base.html" %}
{% block title %} reserve service {{ i.title }} {% endblock %}

{% block content %}

<h1 class="lead my-3">detail reserve service</h1>
<div class="card">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">reserve id:</sup>
            <span class="me-3">{{ i.id }}</span>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner reserve:</sup>
            <span>{{ i.owner }}</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">reserve service:</sup>
            <span>{{ i.rsf_service_id }}</span>
        </li>
    </ul>

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">reserve time:</sup>
            <time>{{ i.reserve_time }}</time>
        </li>
    </ul>

    <ul class="list-group list-group-flush">
        <li class="list-group-item pt-3">
            <sup class="float-start">description:</sup>
            <p>{{ i.description | safe }}</p>
        </li>
        {% include "created_modified.html" %}
    </ul>

    <div class="card mt-2">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/reserve/update-service/{{ i.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/reserve/delete/{{ i.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
        </div>
    </div>

</div>

{% endblock %}