
{% extends "base.html" %}
{% block title %} reserve rent {{ obj.title }} {% endblock %}

{% block content %}

    <h1 class="lead my-4">detail reserve rent</h1>

    <div class="card p-3 me-2 mb-3">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">reserve id:</sup>
                <span class="me-3">{{ obj.id }}</span>
            <li class="list-group-item">
                <sup class="float-start">owner reserve:</sup>
                <span>{{ obj.rrf_owner }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">reserve item:</sup>
                {{ obj.rrf_item_id }}
            </li>
        </ul>

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">start:</sup>
                <time>{{ obj.time_start }}</time>
            </li>
            <li class="list-group-item">
                <sup class="float-start">end:</sup>
                <time>{{ obj.time_end }}</time>
            </li>
        </ul>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                <p>{{ obj.description }}</p>
            </li>
            <li class="list-group-item">
                <sup class="float-start">reserve period:</sup>
                <p>{{ obj.reserve_period }}</p>
            </li>
        </ul>

    {% if request.user.is_authenticated %}

    <div class="card m-2">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/reserve/update-rent/{{ obj.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/reserve/delete-rrf/{{ obj.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
        </div>
    </div>

    {% endif %}

    </div>

{% endblock %}