
{% extends 'base.html' %}

{% block content %}

    <h1 class="lead my-3">search reserve</h1>

    <form class="card p-3" method="POST">
        <div class="card-body row">

            <div class="col-sm">
                <sup class="float-start">start</sup>
                <input
                    class="form-control my-2"
                    type="date"
                    name="time_start"
                />
            </div>
            
            <div class="col-sm">
                <sup class="float-start">end</sup>
                <input
                    class="form-control my-2"
                    type="date"
                    name="time_end"
                />
            </div>

        </div>

        <div class="card-footer m-2">
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    </form>

{% endblock %}
