
{% extends "base.html" %}
{% block title %} update rsv service {{ i.id}} {% endblock%}

{% block content %}

<h1 class="lead my-3">update reserve service</h1>

<form class="card" method="POST">
    <div class="card-body">
        <div class="mb-3">
            <sup>reserve time</sup>
            <input
                type="datetime-local"
                name="reserve_time"
                value="{{ i.reserve_time }}"
                class="form-control"
            />
        </span>
    </div>

    <div class="mb-3">
        <sup>description</sup>
        <textarea
            class="form-control"
            name="description"
            maxlength="333"
            spellcheck
        >{{ i.description }}</textarea>
    </div>

    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-outline-primary btn-sm">submit</button>
    </div>

</form>

{% endblock %}
