
{% extends "base.html" %}
{% block title %} update reserve rent {{ detail.id }} {% endblock%}

{% block content %}

<h1 class="lead my-5">update reserve rent</h1>

<form class="row" method="POST">
    <div class="list-group col-sm mb-3">
        <span class="list-group-item">
            <sup class="float-start">start</sup>
            <input
                class="mt-2"
                type="date"
                name="time_start"
                value="{{ detail.time_start }}"
            />
        </span>
    </div>
    <div class="list-group col-sm mb-3">
        <span class="list-group-item">
            <sup class="float-start">end</sup>
            <input
                class="mt-2"
                type="date"
                name="time_end"
                value="{{ detail.time_end }}"
            />
        </span>
    </div>

    <div class="mb-3">
        <label class="form-label">description</label>
        <textarea
            class="form-control"
            name="description"
            maxlength="333"
            spellcheck
        >{{ detail.description }}</textarea>
    </div>

    <button type="submit" class="btn btn-outline-primary btn-sm">submit</button>
</form>

{% endblock %}
