
{% extends "base.html" %}
{% block title %} chat message {% endblock %}

{% block content %}

<h1 class="lead my-3">all chat.. 
{% if request.user.email %}
<small>user: {{ request.user }}</small>
{% endif %}
{% if request.prv.prv_key %}
<small>privileged:  {{ prv.email }}</small>
{% endif %}
</h1>

<div class="num mt-2 p-2">
    <sub>in the chat</sub>
    <p id="num" class="js_chat"></p>
</div>

<div class="chat card mt-2">
    <div class="card-header">
    <h2 class="lead mt-2">all chat group</h2>
    </div>

    {% for i in result %}
    <ul class="list-group list-group-flush">
        {% if i.file %}
        <figure class="mt-3"><img src="{{ i.file }}" width='480'/></figure>
        {% else %}
        <li class="list-group-item">{{ i.message }}</li>
        {% endif %}
    </ul>
    {% endfor %}

    <div class="p-3"> 
        <div id="msg"></div>
    </div>

{% if request.user.is_authenticated or request.prv.is_authenticated %}
<div class="card-body mb-3">   
    <form class="card p-2 mb-1" method="POST">
        <sup class="mt-2 ms-2">message</sup>
        <div class="card-body">
            <input name="message" type="text" id="messageinput" class="form-control" value="Lorem ipsum">
        </div>

        <div class="card-footer">
            <input id="btnmsg"  type="button" value="send" class="btn btn-sm btn-outline-primary my-2">
        </div>

    </form>
    <form class="card p-2" method="POST" enctype="multipart/form-data">
        <sup class="mt-2 ms-2">file</sup>
        <div class="card-body">
            <input name="file" type="file" id="file-input"  class="form-control">
        </div>

        <div class="card-footer">
            <input id="file-submit" type="button" value="send" class="btn btn-sm btn-outline-primary my-2">
        </div>
        
    </form>

    <div id="target"></div>
</div>
{% endif %}

</div>

{% endblock %}

{% block js_chat %}
{% include "chat/js_chat.html" %}
{% endblock %}

{% block scroll_bottom  %}
{% endblock %}