
{% extends "base.html" %}
{% block title %} chat message {% endblock %}

{% block content %}

<h1 class="lead mt-2">{{ request.user }}</h1>

<div class="d-flex">
<div class="card col-9 mt-2">
    <div class="card-header">
        <h5 class="mt-2">MyChat group (open in different browsers)</h5>
        <ul>
            <li><a href="/chat/text" target="_blank">Send message from another view</a></li>
            <li><a href="/chat/channels" target="_blank">Show groups</a></li>
            <li><a href="/chat/channels-flush" target="_blank">Flush groups</a></li>
            <li><a href="/chat/history" target="_blank">Show history</a></li>
            <li><a href="/chat/history-flush" target="_blank">Flush history</a></li>
        </ul>
    </div>

    {% for i in result %}
    <ul class="list-group list-group-flush">
        {% if i.file %}
        <figure class="mt-3"><img src="{{ i.file }}" width='480'/></figure>
        {% else %}
        <li class="list-group-item">{{ i.message }}</li>
        {% endif %}
    </ul>
    {% endfor %}

    <div class="p-3"> 
        <div id="msg"></div>
    </div>

    <div class="card-body mb-3">   
        <form class="card p-2 mb-1" method="POST">
            <sup class="mt-2 ms-2">message</sup>
            <div class="card-body">
                <input name="message" type="text" id="messageinput" class="form-control" value="Lorem ipsum">
            </div>

            <div class="card-footer">
                <input id="btnmsg"  type="button" value="send" class="btn btn-sm btn-outline-primary my-2">
            </div>

        </form>
        <form class="card p-2" method="POST" enctype="multipart/form-data">
            <sup class="mt-2 ms-2">file</sup>
            <div class="card-body">
                <input name="file" type="file" id="file-input"  class="form-control">
            </div>

            <div class="card-footer">
                <input id="file-submit" type="button" value="send" class="btn btn-sm btn-outline-primary my-2">
            </div>
            
        </form>

        <div id="target"></div>
    </div>
    
</div>

<ul id="num" class="num col-6 mt-2 p-2">
    <h6><sub>in the chat</sub></h6>
</ul>
</div>

{% endblock %}

{% block js_chat %}
{% include "chat/js_chat.html" %}
{% endblock %}

{% block scroll_bottom  %}
{% endblock %}