
{% extends "base.html" %}
{% block title %} chat message {% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card">

        <div class="card-header">
            <h5 class="mt-2">
                MySimpleChat channel (open in different browsers)
            </h5>
            <h5>channel-box == 0.4.0</h5>
            <ul>
                <li>
                    <a class="page-link" href="/chat/message" target="_blank"
                        >Send message from another view</a
                    >
                </li>
                <li>
                    <a class="page-link" href="/chat/channels" target="_blank"
                        >Show channels</a
                    >
                </li>
                <li>
                    <a class="page-link" href="/chat/channels-flush" target="_blank"
                        >Flush channels</a
                    >
                </li>
                <li>
                    <a class="page-link" href="/chat/history" target="_blank"
                        >Show history</a
                    >
                </li>
                <li>
                    <a class="page-link" href="/chat/history-flush" target="_blank"
                        >Flush history</a
                    >
                </li>
            </ul>
        </div>

        <div class="card-body">

            <div class="p-3">
                <div id="messages"></div>
            </div>

            <div>
                <ul>
                    {% for i in result %}
                    <li>{{ i.message }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="p-3">
                <form onsubmit="sendMessage(event)">

                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <input
                            type="message"
                            class="form-control"
                            id="message"
                            aria-describedby="username"
                            value="Lorem ipsum"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
                <div id="target"></div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% include "chat/js_chat.html" %}

{% block scroll_bottom  %}
<script>
$('html, body').animate({scrollTop: $("#target").offset().top}, 2000);
</script>
{% endblock %}