

<script>

let ws = new WebSocket("ws://127.0.0.1:8000/chat/two_ws");
let btnmsg = document.querySelector("#btnmsg");
let messageinput = document.getElementById("messageinput");
let msg = document.querySelector("#msg");


ws.onmessage = function (event) {

    let data = JSON.parse(event.data);

    let { message } = data;
    let { owner_msg } = data;
    msg.innerHTML += '<div class="shadow w-75 list-group-item float-end my-1">' + data.message + '<span class="mx-2">' + data.owner_msg + '</span></div>';
    console.log("data", msg.innerHTML);
};

btnmsg.addEventListener("click", (event) => {
    message = messageinput.value;
    ws.send(JSON.stringify({"message": message}));
    event.preventDefault();
    messageinput.value = "";
});


</script>

