
{% extends "base.html" %}
{% block title %} update MessageGroup {% endblock%}

{% block content %}

<h1 class="lead my-3">update message</h1>

<form class="card" method="POST" enctype="multipart/form-data">

    <div class="card-body">
    <textarea class="shadow-sm form-control" id="message" name="message" maxlength="333" spellcheck>{{ i.message }}</textarea>
    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm mt-3">
        submit
    </button>
    </div>
    
</form>

{% endblock %}
