
{% extends "base.html" %}
{% block title %} adm new tm comment {% endblock%}

{% block content %}

<h1 class="lead my-3">new item comment</h1>

<form class="card" method="POST">
    <div class="card-header">
        <select
            required
            name="owner"
            class="form-control shadow-sm">
            <option value="">user select</option>

            {% for i in owner_all %}
                <option value="{{ i.id }}">
                    id: {{ i.id }} email: {{ i.email }}
                </option>
            {% endfor %}

        </select>
    </div>
    <div class="card-body mb-2">
        <sup>opinion</sup>
        <textarea
            required
            id="comment"
            class="form-control"
            name="opinion"
            rows="3"
            ></textarea>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
    </div>
</form>

{% endblock %}