
{% extends "base.html" %}
{% block title %} new slider {% endblock %}

{% block content %}

<h1 class="lead my-4">new slider</h1>
<form class="card p-3" method="POST" enctype="multipart/form-data">

    <div class="card-body">
        <div class="mb-2">
            <sup>title</sup>
            <input
                required
                type="text"
                name="title"
                placeholder="slider 01"
                class="form-control my-2"
            />
        </div>
        <div class="mb-2">
        <sup>description</sup>
        <textarea class="form-control" name="description" maxlength="333" spellcheck></textarea>
            <div id="help" class="form-text">help text</div>
        </div>
    </div>

    <div class="card-footer">
        <div class="mb-2">
            <input
                required
                type="file"
                name="file"
                class="form-control"
            />
        </div>
        <div class="m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
        </div>
    </div>
</form>

{% endblock %}