
{% extends "base.html" %}
{% block title %} adm list slider {% endblock %}

{% block content %}

<div class="card mt-2">
    
    <div class="card-header">
    <h1 class="lead">list slider.. </h1>
    </div>
    <p class="card-header"><small>count: {{ obj_count | max  }}</small></p>

    <div class="flex_start">
    {% if obj_list %}
    {% for i in obj_list %}
    <div class="card mt-2 me-1">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">id:</sup>
                <span>{{ i.id }}</span>
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">title:</sup>
                <p>{{ i.title }}</p>
            </li>
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                <p>{{ i.description | striptags() | truncate(30, True, '...', 5) | safe }}</p>
            </li>
            {% include "created_modified.html" %}
        </ul>

        <div class="card-footer">
            <a class="btn btn-outline-primary btn-sm" href="/admin/slider/details/{{ i.id }}" role="button">View details &raquo;</a>
        </div>

    </div>
    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>

    {% endif %}
    </div>

</div>

{% endblock %}