
{% extends "base.html" %}
{% block title %} sl file update {{ i.title }} {% endblock %}

{% block content %}

<h1 class="lead my-3">detail file slider</h1>

<div class="card p-3">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            {{ i.id }}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">title:</sup>
            <p>{{ i.title }}</p>
        </li>
        {% include "created_modified.html" %}
    </ul>

    <div>
    {% if i.file %}
    <figure class="card">
    <img class="shadow-sm my-3" src="{{ i.file }}" alt="">
    <figcaption>
        <span class="m-2"><sub>{{ i.file }}</sub></span>
        <div class="bg-light m-2">
            <a class="btn btn-outline-danger btn-sm" href="/admin/slider/file-delete/{{ i.id }}" role="button">
                <i class="bi bi-trash3"></i>file &raquo;
            </a>
        </div>
    </figcaption>
    </figure>
    {% endif %}
    </div>

</div>

<form class="card mt-2"  method="POST" enctype="multipart/form-data">
    <div class="card-footer">
        <input
            type="file"
            name="file"
            class="form-control mb-2"
        />
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-outline-primary btn-sm l mb-2">
            submit
        </button>
    </div>
</form>

{% endblock %}