
{% extends "base.html" %}
{% block title %} sl file update {{ i.title }} {% endblock %}

{% block content %}

<h1 class="lead my-3">detail file slider</h1>

<div class="card p-3">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            {{ i.id }}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">title:</sup>
            <p>{{ i.title }}</p>
        </li>
        {% include "created_modified.html" %}
    </ul>

    <div>
    {% if i.file %}
    <img width="800" class="w-100 shadow-sm mb-5" src="{{ i.file }}" alt="img">
    {% endif %}
    </div>

</div>

<form class="card mt-2"  method="POST" enctype="multipart/form-data">
    <div class="card-body">
        <input
            type="file"
            name="file"
            class="form-control"
        />
    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>
    </div>
</form>

<div class="m-2">
    <a class="btn btn-outline-danger btn-sm" href="/admin/slider/delete/{{ i.id }}" role="button">
        <i class="bi bi-trash3"></i> &raquo;
    </a>
</div>

<div class="my-5">{{ i.file }}</div>

{% endblock %}