
{% extends "base.html" %}

{% block content %}

    <h1 class="h6 my-1">
        Hello, world!
    </h1>
    <a class="float-end mx-1 btn btn-light" href="#">Learn more &raquo;</a>
    <div class="p-2 bg-light">
        <h2 class="lead">Hello!</h2>
        <p class="m-1">New..! Item 03..! mail: one@example.com..! Lorem ipsum dolor sit amet, </p>
    </div>

    <link rel="stylesheet" href="/static/slider/slider.css">

    <section class="promo_slider">
        <div class="sl_content">

        {% for item in odj_sl %}
        <div id="item-{{ item.id }}" class="card_item">

            {% if item.file %}
                <style>
                    #item-{{ item.id }}.card_item .content::before,
                    #item-{{ item.id }}.card_item .content .inner::after{
                        background-image: url('{{ item.file }}')
                    }
                </style>
                    {% else %}
                    <style>
                        #item-{{ item.id }}.card_item .content::before,
                        #item-{{ item.id }}.card_item .content .inner::after{
                            background-image: url('/static/slider/publisher_photo.jpg')
                        }
                    </style>
            {% endif %}

            <div class="content">

                <span class="item_name">
                    <span>
                        {{ item.title }}
                    </span>
                </span>
                <span class="number" data-text="{{ item.id }}">
                    {{ item.id }}
                </span>

                <div class="content_text">
                    {% if item.description %}
                        {{ item.description | truncate(180, True, '...', 5) }}
                            {% else %}
                            not description
                    {% endif %}
                    <hr>
                    <a class="btn btn-outline-primary btn-sm" href="">
                        {{ item.title }}
                    </a>
                </div>

                <span class="publish_date">
                    <time>
                    <sub>
                    {{ item.created_at.strftime("%d-%m-%y %H:%M") }}
                    </sub>
                    </time>
                </span>

                <div class="inner"></div>
                <div class="inner_shadow"></div>

            </div>

        </div>
        {% endfor %}

        </div>
        <div class="sld_trigger"></div>
    </section>


    <div class="my-3">
        <div class="row">
            {% if odj_list %}
            {% for obj in odj_list %}
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-8 col-sm-10 mr-auto card p-3 mb-5">
                <ul class="card-body list-group list-group-flush">
                    <li class="list-group-item">{{ obj.id }}</li>
                    <li class="list-group-item">{{ obj.name }}</li>
                    <li class="list-group-item">{{ obj.email }}</li>
                </ul>
                <p class="card-footer">
                    <a class="btn btn-outline-primary btn-sm" href="/details/{{ obj.id }}" role="button">View details &raquo;</a>
                </p>
            </div>
            {% endfor %}

                {% else %}
                <span class="mt-5">no information available</span>
            {% endif %}

        </div>
        <hr>
    </div>

{% endblock %}


{% block slider %}
<script src="/static/slider/slider.js"></script>
{% endblock %}