<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <img
            src="{{ url_for('static', path='images/starlette__short_logo__dark.svg') }}"
            alt="logo"
            height="32"
        />
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false"
                        >&</a
                    >
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/admin">admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/account/list"
                                >user</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/list/">item</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/chat/group/list"
                                >group</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/chat/all"
                                >chat all</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/collocutor/owner-list"
                                >call_owner</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/collocutor/to-user-list"
                                >call_to_user</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/collocutor/create"
                                >create chat collocutor</a
                            >
                        </li>
                    </ul>
                </li>

                {# #}
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        reserve
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/reserve/"
                                >reserve</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/reserve/list-rent"
                                >rent list</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="nav-item">
                            <a
                                class="dropdown-item"
                                href="/reserve/list-service"
                                >service list</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        service
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/service/list"
                                >service list</a
                            >
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        rent
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/rent/list"
                                >all rent list</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/rent/list-prv"
                                >prv rent list</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        schedule
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a
                                class="dropdown-item"
                                href="/item/schedulerent/list"
                                >rent schedule list</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="nav-item">
                            <a
                                class="dropdown-item"
                                href="/item/scheduleservice/list-service"
                                >service schedule list</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        api
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/api/all-list">
                                all list
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/api/item-list">
                                item-list
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/api/item-create">
                                item-create
                            </a>
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/api/schedulerent/list"
                            >
                                schedulerent-list
                            </a>
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/api/scheduleservice/list"
                            >
                                scheduleservice-list
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <span class="dropdown-item">
                            {% if request.user.email %}
                            <i class="bi bi-person-check"></i>
                            <sup>{{request.user.email}}</sup>
                            {% endif %}
                            {% if request.prv.prv_key %}
                            <sup>{{ request.prv.prv_key}}</sup>
                            {% endif %}
                            </span>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/account/register">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">register</sup>
                            </a>
                        </li>

                        {% if not request.user.email and not request.prv.prv_key %}
                        <li class="bg-success-subtle">
                            <a class="dropdown-item" href="/account/login">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">login</sup>
                            </a>
                        </li>
                        {% endif %}

                        <hr class="dropdown-divider" />

                        {% if request.user.email %}
                        <li class="bg-danger-subtle">
                            <a class="dropdown-item" href="/account/logout">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">logout</sup>
                            </a>
                        </li>
                        {% endif %}

                        {% if not request.user.email and not request.prv.prv_key %}
                        <li class="bg-success-subtle">
                            <a class="dropdown-item" href="/privileged/login">
                                <sup class="ms-2">privileged login</sup>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.prv.prv_key %}
                        <li class="bg-danger-subtle">
                            <a class="dropdown-item" href="/privileged/logout">
                                <sup class="ms-2">privileged logout</sup>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

            {% if request.prv.prv_key %}
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        to create
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/item/create"
                                >item create</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/rent/create"
                                >rent create</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/service/create"
                                >service create</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="nav-item">
                            <a
                                class="dropdown-item"
                                href="/item/schedulerent/create"
                                >create schedule rent</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="dropdown-item"
                                href="/item/scheduleservice/create"
                                >create schedule service</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="/chat/group/create"
                                >create chat group</a
                            >
                        </li>

                    </ul>
                </li>
            </ul>
            {% endif %}
            <form class="d-flex" action="/item/search/">
                <input
                    class="form-control me-2"
                    name="query"
                    type="search"
                    placeholder="search to item"
                    aria-label="search"
                />
                <button class="btn btn-outline-success" type="submit">
                    search
                </button>
            </form>
        </div>
    </div>
</nav>
