
<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
    {% block title %} starlette {% endblock %}
</title>

<link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">

<meta name="description" content="">
<meta name="author" content="">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

<link href="/static/css/style.css" rel="stylesheet">

{% block slider_css %}
{% endblock %}


</head>

<body class="bg-light">

{% include "navbar.html" %}

{% block slder %}{% endblock %}

<footer class="container-fluid my-3">
    <span class="mx-5">&copy; Company</span>
    <time id="time"></time>
</footer>

<script>
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
const time = setInterval(() => {
    const date = new Date();
    document.getElementById('time').innerHTML = (`${month[date.getMonth()]}-${days[date.getDay()]}-${date.getDate()}--${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`);
}, 600);
</script>

{% block script %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

{% block slider_js %}
{% endblock %}


</body>

</html>