{% if request.user.is_authenticated or request.prv.is_authenticated %}
{% if user %}
<script>

let num = document.querySelector("#num");
let msg = document.querySelector("#msg");

let btnmsg = document.querySelector("#btnmsg");
let messageinput = document.getElementById("messageinput");

let btnfile = document.querySelector("#file-submit");
let inputfile = document.querySelector("#file-input");

let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
let websocket_str = `${ws_scheme}://${window.location.host}/chat/one_one_ws/{{ ref_num }}`;
let ws = new WebSocket(websocket_str);


ws.onmessage = function (event) {

    let data = JSON.parse(event.data);

    let { message } = data;
    let { owner } = data;

    if (typeof message === "number") {
        num.innerHTML +=
            " * " +
            data.message +
            " : " +
            data.owner +
            "<time>" +
            data.created_at +
            "</time>" +
            " <hr> ";
    } else {
        if (data.file) {
            msg.innerHTML +=
                '<figure class="shadow w-75 list-group-item float-end">' +
                "<img class'my-2' src=" +
                "data:image/png;base64," +
                data.file +
                " width='64'/></figure>" +
                '<span class="mx-2">' +
                data.owner +
                "</span></div>";
        } else {
            msg.innerHTML +=
                '<div class="shadow w-75 list-group-item float-end my-1">' +
                data.message +
                '<span class="mx-2">' +
                data.owner +
                "</span></div>";
        }
    }
    console.log("data num..", num.innerHTML);
    console.log("data msg..", msg.innerHTML);
};

btnmsg.addEventListener("click", (event) => {
    message = messageinput.value;
    ws.send(JSON.stringify({"message": message}));
    event.preventDefault();
    messageinput.value = "";
});

btnfile.addEventListener("click", (event) => {
    file = inputfile.files[0];

    let reader = new FileReader();
    reader.onload = function (event) {
        let fileData = event.target.result.split(",")[1];
        ws.send(
            JSON.stringify({
                file: fileData,
            })
        );
    };
    reader.readAsDataURL(file);
    inputfile.value = "";
});

</script>
{% endif %}
{% endif %}