
{% extends "base.html" %}
{% block title %} update message ({{ i.id }}) {% endblock%}

{% block content %}

<h1 class="lead my-3">update one one chat message: ({{ i.id }})</h1>

<form class="card" method="POST" enctype="multipart/form-data">
    
    <div class="card-body">
        <div class="mb-3">
            <sup>message</sup>
            <input
                type="text"
                name="message"
                class="form-control"
                value="{{ i.message }}"
            />
        </div>
    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>
    </div>

</form>

{% endblock %}
