
{% extends "admin/base.html" %}
{% block title %} admin service {{ i.title }} {% endblock %}

{% block calendar_css %}
<link href="{{ url_for('static', path='/evo-calendar/css/evo-calendar.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 class="lead my-4">admin service detail...</h1>

<div class="row">
    <div class="col-md-5 card">
    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            <span>{{ i.id }}...</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner:</sup>
            <span>{{ i.owner }}</span>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup>title:</sup>
            <p>{{ i.title }}</p>
        </li>
        <li class="list-group-item">
            <sup>description:</sup>
            <p>{{ i.description | safe }}</p>
        </li>

        {% if sch %}
            <li class="list-group-item">
                {{ sch_json }}
            </li>
            <li class="list-group-item">
                {{ sch.id }}
            </li>
        {% endif %}
    </ul>

    <ul class="card-footer">
        {% include "created_modified.html" %}
    </ul>
    </div>

    {% if i.file %}
    <figure class="col-md-7 card">
        <img class="shadow-sm my-3" src="{{ i.file }}" alt="">
        <figcaption class="card-footer"></figcaption>
    </figure>
    {% endif %}
</div>

<div id="calendar" class="card mt-3"></div>

<div class="mt-2">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/admin/service/update/{{ i.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/admin/service/delete/{{ i.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
        </div>
        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/admin/comment/service/create/{{ i.id }}">create comment</a>
        </div>
    </div>
</div>

{% include "admin/comment/cmt_service.html" %}

{% endblock %}


{% block calendar_js %}

<script>
    const detail = {{ i.id }};
</script>

<script src="/static/evo-calendar/js/evo-calendar.js"></script>
<script>

const listjson = JSON.stringify({{ sch_json | safe }});
const objlist = JSON.parse(listjson);

$(document).ready(() => {
    $('#calendar').evoCalendar({
        sidebarToggler: true,
        sidebarDisplayDefault: true,
        eventListToggler: true,
        eventDisplayDefault: true,
        calendarEvents: objlist

    });
});
</script>

{% endblock %}