
{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}

<h1 class="lead my-3">login user...</h1>

<form class="card" method="POST">
    <div class="card-body">

    <div class="mb-3">
        <sup>email</sup>
        <input
            type="email"
            required
            placeholder="email"
            name="email"
            class="form-control"
        />
    </div>

    <div class="mb-3">
        <sup>password</sup>
        <input
            type="password"
            required
            placeholder="password"
            name="password"
            class="form-control"
        />
    </div>

    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>
    </div>

</form>

<div class="card mt-3">
<div class="card-footer">
<a class="btn btn-outline-primary btn-sm" href="/account/reset-password/">reset password</a>
</div>
</div>

{% endblock %}
