
{% extends "base.html" %}
{% block title %} reset password {% endblock %}

{% block content %}

    <h1 class="lead my-4">enter create a new password..!</h1>

    <div class="row">
        {% if msg %}
            <div>
                {{ msg }}
            </div>
        {% endif %}
    </div>
    <div class="row my-4">

    <form method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <label><sup>password</sup></label>
            <input
                type="password"
                required
                placeholder="password"
                name="password"
                value="{{ password }}"
                class="form-control"
            />
        </div>

        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>

    </form>

    </div>

{% endblock %}
