
{% extends "base.html" %}
{% block title %} reset password {% endblock %}

{% block content %}

<h1 class="lead my-3">reset password...</h1>

<div class="row msg">
    {% if msg %}
        <div>
            {{ msg }}
        </div>
    {% endif %}
</div>

<form class="card" method="POST">

    <div class="card-body mb-3">
        <sup>email</sup>
        <input
            type="email"
            required
            placeholder="email"
            name="email"
            value="{{ email }}"
            class="form-control"
        />
    </div>

    <div class="card-footer">
    <button type="submit" class="btn btn-outline-primary btn-sm">
        submit
    </button>
    </div>

</form>

{% endblock %}
