
{% extends "base.html" %}
{% block title %} item {{ i.title }} {% endblock %}

{% block content %}

<h1 class="lead my-3">item detail.. </h1>

<div class="row">
    <div class="col-md-5 card">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            {{ i.id }}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">owner item:</sup>
            {{ i.owner }}
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup>title:</sup>
            <p>{{ i.title }}</p>
        </li>
        <li class="list-group-item">
            <sup>description:</sup>
            <p>{{ i.description | safe }}</p>
        </li>
        {% include "created_modified.html" %}
    </ul>

    {% if all_service %}
    <ul class="card-footer list-group list-group-horizontal">
        {% for sv in all_service %}
        <li class="list-group-item pt-3">
        <sup class="float-start mb-2">service:</sup>
        <a class="page-link mt-2" href="/item/service/details/{{ sv.id }}">{{ sv.title }}
        </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if all_rent %}
    <ul class="card-footer list-group list-group-horizontal">
        {% for rent in all_rent %}
        <li class="list-group-item pt-3">
        <sup class="float-start">rent:</sup>
        <a class="page-link mt-2" href="/item/rent/details/{{ rent.id }}">{{ rent.title }}
        </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    </div>

    {% if i.file %}
    <figure class="col-md-7 card">
    <img class="shadow-sm my-3" src="{{ i.file }}" alt="">
    <figcaption class="card-footer"></figcaption>
    </figure>
    {% endif %}
</div>

{% if request.prv.prv_key and prv.id == i.owner %}
<div class="card my-2">
<div class="card-header">

<a class="btn btn-outline-primary btn-sm me-2" href="/item/update/{{ i.id }}" role="button">
    <i class="bi bi-pencil"></i> &raquo;
</a>
<a class="btn btn-outline-danger btn-sm" href="/item/delete/{{ i.id }}" role="button">
    <i class="bi bi-trash3"></i> &raquo;
</a>

</div>
</div>
{% endif %}

<div class="card">
<div class="card-header">
    <a class="btn btn-outline-primary btn-sm float-end" href="/comment/item/create/{{ i.id }}">create comment</a>
</div>
</div>

<div class="card">
{% include "comment/cmt_item.html" %}
</div>

{% endblock %}