
{% extends "base.html" %}
{% block title %} i {{ i.title }} {% endblock %}

{% block content %}

    <h1 class="lead my-3">i item</h1>
    <div class="flex_cont">
        <div class="col-xxl-6 col-sm-10 card p-3">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                {{ i.id }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">owner item:</sup>
                {{ i.item_owner }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">created:</sup>
                <time>{{ i.created_at }}</time>
            </li>
        </ul>

        <ul class="card-body list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">title:</sup>
                <p>{{ i.title }}</p>
            </li>
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                <p>{{ i.description | safe }}</p>
            </li>
        </ul>

        {% if all_service %}
        <ul class="card-footer list-group list-group-horizontal">
            {% for sv in all_service %}
            <li class="list-group-item">
            <sup class="float-start mb-2">service:</sup>
            <a class="page-link mt-2" href="/item/service/details/{{ sv.id }}">{{ sv.title }}
            </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% if all_rent %}
        <ul class="card-footer list-group list-group-horizontal">
            {% for rent in all_rent %}
            <li class="list-group-item">
            <sup class="float-start">rent:</sup>
            <a class="page-link mt-2" href="/item/rent/details/{{ rent.id }}">{{ rent.title }}
            </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        </div>

        {% if request.user.user_id == i.item_owner %}
        {% if i.file %}
        <figure class="col-xxl-5 col-sm-10 ms-3">

        <img class="w-100 shadow-sm mb-2" src="{{ i.file }}" alt="img">

        </figure>

        {% endif %}

    </div>
    <div class="card mt-2">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/item/update/{{ i.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/item/delete/{{ i.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
            <a class="btn btn-outline-primary btn-sm float-end" href="/comment/item/create/{{ i.id }}">create comment</a>
        </div>
    </div>
    {% endif %}

    {% include "comment/cmt_item.html" %}


    <div class="my-5">{{ i.file }}</div>

{% endblock %}