
{% extends "base.html" %}

{% block content %}

    <h1 class="container lead mt-3">search</h1>
    <div class="container">
        <div class="error_message p-5 bg-light border rounded-3">

            {% if search_title %}
                {% for obj in search_title %}
                <a class="page-link" href="/item/item/details/{{ obj.id }}">
                    {{ obj.title }}
                </a>
                {% endfor %}

                    {% else %}
                    no matches
            {% endif %}

        </div>
    </div>

{% endblock %}