
{% extends "admin/base.html" %}
{% block title %} admin create sch rent {% endblock%}

{% block calendar_css %}
{% endblock %}

{% block content %}

    <h1 class="lead my-4">create schedule rent</h1>

    <form class="card p-3" method="POST">
        <div class="card-header mb-3">
            <select
                name="sch_r_rent_id"
                class="form-control shadow">
                <option value="">rent select</option>

                {% for obj in obj_rent %}
                    <option value="{{ obj.id }}">
                        {{ obj.id }}
                    </option>
                {% endfor %}

            </select>
        </div>

        <div class="row m-2">
        <div class="col-sm">
            <sup class="float-start">start</sup>
            <input
                type="datetime-local"
                required
                name="start"
                class="form-control my-2"
            />
        </div>
        <div class="col-sm">
            <sup class="float-start">end</sup>
            <input
                type="datetime-local"
                required
                name="end"
                class="form-control my-2"
            />
        </div>
        </div>

        <div class="m-2">
            <sup class="float-start">title</sup>
            <input
                type="text"
                required
                placeholder="title"
                name="title"
                value="schedule rent 01"
                class="form-control my-2"
            />
        </div>

        <div class="m-2">
            <sup class="float-start">description</sup>
            <textarea
                class="form-control my-2"
                name="description"
                maxlength="333"
                spellcheck
            ></textarea>
        </div>
        <div class="m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
        </div>
    </form>

{% endblock %}

{% block calendar_js %}
{% endblock %}




