
{% extends "admin/base.html" %}
{% block title %} admin list schedule rent {% endblock %}

{% block content %}

    <h1 class="lead my-4">admin list schedule rent..</h1>

<div class="flex_start">
    {% if obj_list %}
    {% for i in obj_list %}
    <div class="card mt-2 me-1">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start pt-3">id:</sup>
                <span class="me-3">{{ i.id }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">owner:</sup>
                <span>{{ i.owner }}</span>
            </li>
        </ul>
        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">start:</sup>
                <time>{{ i.start }}</time>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">end:</sup>
                <time>{{ i.end }}</time>
            </li>
        </ul>

        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-3">
                <sup class="float-start">title:</sup>
                <p>{{ i.title }}</p>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">description:</sup>
                <p>
                    {{ i.description | striptags() | truncate(190, True, '...', 5) | safe }}
                </p>
            </li>
            {% include "created_modified.html" %}
        </ul>

        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/admin/schedule-rent/details/{{ i.id }}" role="button">view details &raquo;</a>
        </div>

    </div>

    {% endfor %}

        {% else %}
        <span class="mt-5">no information available</span>

    {% endif %}

</div>

{% endblock %}